{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<section class="hero">
    <div class="about-text">
    <h2>About InaJiffy</h2>
    <p>
    <!-- InaJiffy is a free and easy-to-use tool that allows you to shorten long URLs. With Red Route, you can create short, memorable URLs that are easy to share. -->
    Brief is the new black, this is what inspires the team at Ina-Jiffy. 
    In todays world, its important to keep things as short as possible, 
    and this applies to more concepts than you may realize. From music, 
    speeches, to wedding receptions, brief is the new black. 
    Ina-Jiffy is a simple tool which makes URLs as short as possible. 
    Ina-Jiffy thinks it can disrupt the URL shortening industry and 
    give the likes of bit.ly and ow.ly a run for their money within 2 years.
    </p>
</div>
<div class="about">
    <h1>Basic Features</h1>
    <ul class="about-list">
        <li>
            <div class="about-card">
                <div class="card-icon">
                    <i class="ri-lock-line"></i>
                    Free to use
                </div>
            </div>
        </li>
        <li>
            <div class="about-card">
                <div class="card-icon">
                    <i class="ri-bar-chart-line"></i>
                    Easy to use
                </div>
            </div>
        </li>
        <li>
            <div class="about-card">
                <div class="card-icon">
                    <i class="ri-link"></i>
                    Short URLs
                </div>
            </div>
        </li>
        <li>
            <div class="about-card">
                <div class="card-icon">
                    <i class="ri-dashboard-line"></i>
                    Click tracking
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}
